:root {
    --bs-body-bg: var(--bs-gray-800) !important;
    --distance-from-top:150px;
    --container-size:calc(100vh - var(--distance-from-top));
    height:100%;
}

body.lootaverse-page {
    padding-top:var(--distance-from-top);
}

#lootaverse-container {
    height:var(--container-size);
}

#lootaverse-builder {
    --gutter:10px;
    --bottom-pad:100px;
    --cell-size:calc((var(--container-size) - var(--bottom-pad)) / 4);
    display:grid;
    grid-template-columns:repeat(6, var(--cell-size));
    grid-template-rows:repeat(4, var(--cell-size));
    justify-content:center;
    grid-gap:var(--gutter);
}

.lootaverse-slot {
    background:var(--bs-gray-700);
    border:solid 1px var(--bs-white);
    display:flex;
    justify-content:center;
    align-items:center;
}

.lootaverse-button.btn {
    background:var(--bs-gray-400);
    color:var(--bs-gray-900);
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.25rem;
}

.lootaverse-button.btn:active {
    background:var(--bs-white);
}

.lootaverse-button .svg-inline--fa {
    width:24px;
    height:24px;
    margin:0 5px 4px 5px;
}

#lootaverse-avatar {
    grid-column:span 4;
    grid-row:span 4;
}

#lootaverse-stats {
    grid-column:span 2;
    grid-row:span 2;
}

#lootaverse-inventory {
    grid-column:span 2;
    grid-row:span 2;
}

#token-image {
    max-width:100%;
}
