#rarity-tool {
    font-family:"EB Garamond", serif;
    --rarity-mythical:#CFBC2B;
    --rarity-legendary:#7F309C;
    --rarity-epic:#9C2009;
    --rarity-rare:#11474F;
    --rarity-uncommon:#394F09;
    --rarity-common:var(--bs-black);
}

#loot-card {
    position:relative;
    padding-top:1rem;
    padding-bottom:4rem;
    border:solid var(--highlight-color);
    border-width:1px 1px 3rem 1px;
}

#loot-card::before,
#loot-card::after {
    position:absolute;
    bottom:-2.5rem;
    text-transform:capitalize;
    font-size:1.5rem;
    color:var(--bs-white);
}

#loot-card::before {
    content:"Bag #" attr(data-token);
    left:1rem;
}

#loot-card::after {
    content:attr(data-ranking);
    right:1rem;
}

#loot-card .loot-item {
    display:flex;
    align-items:center;
    font-size:1rem;
    margin-bottom:.25rem;
}

#loot-card .loot-item .loot-icon {
    margin-right:1rem;
}

#loot-card .loot-item .loot-icon svg {
    width:1rem !important;
    height:1rem !important;
}

#loot-card .loot-item:not(.common) .loot-item-name {
    padding:.125rem .25rem;
    border-radius:.25rem;
    color:var(--bs-white);
}

#loot-card .loot-item.mythical .loot-item-name { background:var(--rarity-mythical); }
#loot-card .loot-item.legendary .loot-item-name { background:var(--rarity-legendary); }
#loot-card .loot-item.epic .loot-item-name { background:var(--rarity-epic); }
#loot-card .loot-item.rare .loot-item-name { background:var(--rarity-rare); }
#loot-card .loot-item.uncommon .loot-item-name { background:var(--rarity-uncommon); }

#loot-card[data-ranking=mythical] { --highlight-color:var(--rarity-mythical); }
#loot-card[data-ranking=legendary] { --highlight-color:var(--rarity-legendary); }
#loot-card[data-ranking=epic] { --highlight-color:var(--rarity-epic); }
#loot-card[data-ranking=rare] { --highlight-color:var(--rarity-rare); }
#loot-card[data-ranking=uncommon] { --highlight-color:var(--rarity-uncommon); }
#loot-card[data-ranking=common] { --highlight-color:var(--rarity-common); }

#legend .legend-color {
    display:inline-flex;
    align-items:center;
    margin-right:1rem;
}

#legend .legend-color::before {
    content:"";
    display:inline-block;
    width:1rem;
    height:1rem;
    margin-right:.5rem;
    background:var(--highlight-color);
}

#legend .legend-color[data-ranking=mythical] { --highlight-color:var(--rarity-mythical); }
#legend .legend-color[data-ranking=legendary] { --highlight-color:var(--rarity-legendary); }
#legend .legend-color[data-ranking=epic] { --highlight-color:var(--rarity-epic); }
#legend .legend-color[data-ranking=rare] { --highlight-color:var(--rarity-rare); }
#legend .legend-color[data-ranking=uncommon] { --highlight-color:var(--rarity-uncommon); }
#legend .legend-color[data-ranking=common] { --highlight-color:var(--rarity-common); }
